#buttonPlay {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: calc(75% - 45px);
    background: black;
    color: white;
    font-weight: 100;
    font-size: 20px;
    font-family: sans-serif;
    transition: 0.3s ease-out;
    overflow: hidden;

    @media (min-width: 769px) {
        &:hover {
            background: white;
            color: black;
            transition: 0.3s ease-out;
        }
    }

    @media (max-height: 700px), (max-width: 768px) {
        top: calc(75% - 40px);
    }

    @media (min-width: 2000px) {
        top: calc(75% - 60px);
    }
}