.queue-container {

    h2 {
        width: 100%;
        margin-top: 110px;
        @include centerAbsoluteHori();

        &.white {
            color: white;
        }

        &.black {
            color: black;
        }
    }
}