#buttonPlay {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    border-radius: 100px;
    height: 90px;
    background: black;
    color: white;
    font-weight: 100;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    line-height: 90px;
    transition: 0.3s ease-out;
    border: none;
    cursor: pointer;
    overflow: hidden;

    &:focus {
        outline: none;
    }

    &:hover {
        background: white;
        color: black;
        transition: 0.3s ease-out;
    }
}
