h2 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 20px;
    text-align: center;
}

.buttonRect {
    width: auto;
    text-align: center;
    border: solid transparent 1px;
    padding: 20px;
    font-family: sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: 0.7s;
    cursor: pointer;

    &.white {
        color: white;
    
        &:hover {
            border-color: white;
        }
    }

    &.black {
        color: black;

        &:hover {
            border-color: black;
        }
    }

    &:hover {
        transition: 0.7s;
    }
}

.buttonCircle {
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    cursor: pointer;
    z-index: 100;
}