.level-container {
    display: none;
    opacity: 0;
}

.level-list {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;

    h2 {
        color: white;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
}

.portal {
    overflow: hidden;
    position: relative;
    margin: 50px 0;
    cursor: pointer;

    .image-container {
        position: relative;
        background: black;
        height: 200px;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            border: solid rgba(255, 255, 255, 0.0) 1px;
            width: 95%;
            height: 85%;
            transition: 0.7s;
        }
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 2s;
    }

    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 24px;
        font-weight: 100;
        font-family: sans-serif;
    }

    &:hover {
        img {
            transform: translate(-50%, -50%) scale(1.1);
            opacity: 0.8;
            transition: opacity 0.7s, transform 6s;
        }
        .image-container::after {
            border-color: rgba(255, 255, 255, 1.0);
            transition: 0.7s;
        }
    }
}