.root {
    width: 300px;
    border: solid 1px white;
    background: black;
    color: white;
    padding: 10px;
    align-self: flex-start;
    margin-top: 20px;
    position: relative;
    z-index: 100;

    h3 {
        margin: 0;
    }
}

.row {
    p {
        margin: 5px 0;
        margin-left: 20px;
        display: flex;
        align-items: center;

        b {
            margin-left: 5px;
        }
    }

    p:first-child {
        margin-left: 0;
    }
}

.divider {
    background: white;
}

.loader {
    margin-left: auto;

    svg {
        color: white;
    }
}

.side-indicator {
    display: inline-block;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    border: solid 1px transparent;
    margin-left: 5px;
}

.side-indicator-light {
    background: white;
}

.side-indicator-shadow {
    border-color: white;
}

.invite-button {
    background: white;
    color: black;
    padding: 0px 5px;
    margin-left: auto;
    margin-top: 10px;
    letter-spacing: 1px;

    svg {
        margin-left: 10px;
        color: black;
    }
}
