@keyframes wobble {
    to {
        transform: translate(var(--x), var(--y)) rotate(360deg);
    }
}

@keyframes rotateCentered {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
