$buttonSize: 90px;
$buttonSizeSmall: 80px;
$buttonSizeLarge: 120px;
.button-play {
    all: unset;
    background: white;
    font-size: 16px;
    overflow: hidden;
    mix-blend-mode: difference;
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    width: $buttonSize;
    height: $buttonSize;
    border-radius: $buttonSize;
    border: solid black 7px;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s ease-out;

    @media (min-width: 768px) and (min-height: 500px) {
        &:hover {
            mix-blend-mode: difference;
            background: white;
            border-color: white;
            color: black;
            transition: 0.3s ease-out;
        }
    }

    @media (max-width: 768px), (max-height: 500px) {
        width: $buttonSizeSmall;
        height: $buttonSizeSmall;
        border-radius: $buttonSizeSmall;
    }
}

// HAMBURGER

.hamburger-button {
    background: black;
    color: $mainActionColor;
    padding: 4px;
}

.main-app__hamburger-button {
    position: fixed;
    top: 2%;
    right: 2%;
}

.top-bar__hamburger-button {
    margin-left: auto !important;
}

// INLINE LINK

.inline-link {
    color: white;
    position: relative;
    text-decoration: none;
    mix-blend-mode: difference;
    background: $mainActionColor;
    color: black;

    &::after {
        content: '➤️';
        position: absolute;
        top: -13px;
        right: -12px;
        color: $mainActionColor;
        mix-blend-mode: difference;
        transform: rotate(-45deg);
        opacity: 0;
        transition: 0.3s ease-in;
    }

    @media (min-width: 769px) {
        &:hover {
            &::after {
                opacity: 1;
            }

            &::before {
                background-color: black;
                border-color: white;
            }
        }
    }
}
