.end-level-scene {
    a {
        text-decoration: none;
    }

    h2 {
        margin-top: 0;
    }

    h2,
    h3,
    h4 {
        mix-blend-mode: difference;
    }

    h2,
    h3,
    h4,
    p {
        margin: 0;
        color: white;
    }

    span {
        mix-blend-mode: difference;
    }

    .MuiRating-root {
        mix-blend-mode: initial;

        span {
            mix-blend-mode: initial;
        }
    }

    .thank-emoji {
        mix-blend-mode: initial;
        margin-left: 10px;
    }

    .thank-you {
        display: flex;
        align-items: center;
        font-size: 36px;

        h2 {
            margin: 0;
        }
    }

    .copy-to-clipboard span {
        mix-blend-mode: initial;
    }

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.end-level-scene .main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;

    @media (max-width: 768px) {
        margin-bottom: 30px;
    }
}

.end-level-scene__main-title {
    text-align: center;
}

.end-level-scene__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 25px;
    width: 95%;
}

.end-level-scene__debrief-section,
.end-level-scene__socials-section {
    display: flex;
    gap: 30px;

    > * {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    button.composite-button,
    a.composite-button,
    .twitter-share-button {
        min-width: 300px;
        max-width: 300px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            align-self: center;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.end-level-scene__debrief-section {
    border-bottom: solid $mainActionColor 1px;
    padding-bottom: 30px;
}

.end-level-scene__patreon-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        transition: 0.3s ease-out;
        fill: white;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    &:hover {
        svg {
            fill: black;
        }
    }
}

.end-level-scene__play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: normal;
    font-weight: bold;
    min-width: 300px;
    max-width: 300px;

    svg {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        transition: 0.3s ease-out;
    }

    @media (min-width: 768px), (min-height: 500px) {
        &:hover {
            color: black;
            background: $mainActionColor;

            svg {
                transform: rotate(90deg);
            }
        }
    }
}

.end-level-scene__rating-container {
    display: flex;
    gap: 15px;
}

.end-level-scene__rating {
    .MuiRating-icon {
        color: darkgray;

        svg {
            fill: darkgray;
        }
    }

    .MuiRating-iconFilled {
        color: #faaf00;

        svg {
            fill: #faaf00;
        }
    }

    .MuiRating-decimal {
        label:first-child {
            z-index: 10;
        }
    }
}

.end-level-scene__difficulty-rating {
    .MuiRating-iconFilled {
        color: red;

        svg {
            fill: red;
        }
    }

    svg {
        width: 30px;
        min-width: 30px;
        height: 30px;
    }
}

.end-level-scene__rating-loader {
    mix-blend-mode: initial;
    color: $mainActionColor;
}
