.end-level-container {
    h2,
    h3 {
        text-align: center;
    }

    h2 {
        width: 100%;
        margin-top: 30px;
    }

    &--black {
        color: black;

        .inline-link {
            color: black;

            &::before {
                border-color: black;
            }
        }
    }

    &--white {
        color: white;
    }
}

.end-level-container__share {
    @include centerAbsoluteHorizontal();
    position: fixed;
    width: 70%;
    bottom: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .text-container {
        width: 100%;
        min-width: 100%;
        flex-direction: column;
        align-items: center;

        p {
            width: 70%;
            line-height: 2;
            font-weight: 100;
            font-size: 20px;
        }
    }

    h3 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 100;
    }

    > div {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    svg {
        width: 35px;
        margin-right: 10px;
    }

    .patreon-container iframe {
        width: 180px !important;
    }

    @media (max-width: 768px) {
        position: static;
        transform: none;
        width: 100%;
        flex-direction: column;

        .text-container p {
            font-size: 16px;
            width: 100%;
        }

        p {
            margin: 0;
        }

        > * {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}

.end-level-container__play-button {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.white {
        color: black;
    }

    &.black {
        color: white;
    }

    @media (max-width: 768px) {
        transform: translate(-50%, 0);
        top: calc(85% - 40px);
    }
}
