.end-level-scene {
    a {
        text-decoration: none;
    }

    h2 {
        margin-top: 0;
    }

    h2,
    h3 {
        text-align: center;
    }

    h2,
    h3,
    p {
        mix-blend-mode: difference;
        color: white;
    }

    .thank-emoji {
        mix-blend-mode: initial;
        margin-left: 10px;
    }

    .thank-you {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;

        h2 {
            margin: 0;
        }
    }
}

.end-level-scene__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
    width: 95%;
}

.end-level-scene__text-container {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;

    @media (max-width: 768px), (max-height: 500px) {
        max-width: auto;
        width: 90%;
    }
}

.end-level-scene__like-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h3 {
        width: 100%;
    }

    button {
        display: flex;
        align-items: center;

        svg {
            margin-left: 10px;
        }
    }
}

.end-level-scene__share {
    width: 80%;
    margin: 25px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-wrap: nowrap;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copy-to-clipboard {
        p {
            margin: 0;
        }

        svg {
            width: 30px;
            height: 30px;
        }
    }

    @media (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);

        > div button,
        > div a {
            width: 100%;
        }
    }

    @media (max-width: 768px), (max-height: 500px) {
        grid-template-columns: 1fr;

        .copy-to-clipboard {
            p {
                font-size: 12px;
            }
        }
    }
}

.end-level-scene__patreon-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        transition: 0.3s ease-out;
        fill: white;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    &:hover {
        svg {
            fill: black;
        }
    }
}

.end-level-scene__play-button-container {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.end-level-scene__play-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}
