.end-level-container {
    h2,
    h3 {
        text-align: center;
    }

    h2,
    h3,
    p {
        mix-blend-mode: difference;
        color: white;
    }

    .thank-emoji {
        mix-blend-mode: initial;
        margin-left: 10px;
    }

    .thank-you {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
    }
}

.end-level-container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;

    h2 {
        margin: 0;
    }
}

.end-level-container__text-container {
    width: 70%;
    margin: 0 auto;
}

.end-level-container__like-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h3 {
        width: 100%;
    }

    button {
        margin-left: auto;
        display: flex;
        align-items: center;

        svg {
            margin-left: 10px;
        }
    }
}

.end-level-container__share {
    margin: 50px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    > div {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .patreon-container iframe {
        width: 180px !important;
        background: white;
    }

    @media (max-width: 768px) {
        position: static;
        transform: none;
        width: 100%;
        flex-direction: column;

        .text-container p {
            font-size: 16px;
            width: 100%;
        }

        p {
            margin: 0;
        }

        > * {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}

.end-level-container__play-button-container {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.end-level-container__play-button {
    color: white;
    background: black;
    mix-blend-mode: initial;

    &:hover {
        color: white;
    }
}
