html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

canvas,
.game-sync-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

// TODO: Check this on mobile
.bottom-right-info {
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    mix-blend-mode: difference;

    .settings {
        transition: 0.3s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 5px;

        &:hover {
            transform: rotate(90deg);
        }
    }

    .cogwheel {
        width: 30px;
        fill: white;
    }

    .inline-link {
        text-decoration: none;
        margin-top: 15px;
        color: white;
    }

    .version {
        color: white;
    }
}

.home-page {
    position: relative;
    width: 100%;
}

.title-h2 {
    &--black {
        color: black;
    }

    &--white {
        color: white;
    }

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.menu-label {
    font-weight: 300;
}

button {
    all: unset;
}

.buttonRect {
    width: auto;
    text-align: center;
    border: solid white 1px;
    padding: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: 0.7s;
    cursor: pointer;

    &.white {
        color: white;
        border-color: white;
        &:hover {
            border-color: white;
            background: white;
            color: black;
        }
    }

    &.black {
        color: black;
        border-color: black;
        &:hover {
            border-color: black;
            background: black;
            color: white;
        }
    }

    // different border management for back button
    &.back {
        border-color: transparent;

        &:hover {
            border-color: white;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;
        font-size: 12px;
    }
}

$buttonSize: 90px;
$buttonSizeSmall: 80px;
$buttonSizeLarge: 120px;
.buttonCircle {
    text-align: center;
    width: $buttonSize;
    height: $buttonSize;
    border-radius: $buttonSize;
    line-height: $buttonSize;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    cursor: pointer;
    z-index: 100;
    border: none;

    &:focus {
        outline: none;
    }

    @media (max-height: 700px), (max-width: 768px) {
        width: $buttonSizeSmall;
        height: $buttonSizeSmall;
        font-size: 18px;
        line-height: $buttonSizeSmall;
        font-weight: 500;
    }

    @media (min-width: 2000px) {
        width: $buttonSizeLarge;
        height: $buttonSizeLarge;
        font-size: 30px;
        line-height: $buttonSizeLarge;
    }
}

.unmount {
    opacity: 0;
    display: none !important;
}

.queue-count {
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
}

.game-sync-overlay {
    background: black;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content-container {
    width: 80%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 90%;
    }
}

.menu-state-info {
    color: white;

    &--black {
        color: black;
    }

    > * {
        display: flex;
        justify-content: space-between;
        width: 300px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.mobile-hud {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    button {
        padding: 10px;
    }

    svg {
        width: 50px;
        fill: white;
    }
}

.inline-link {
    color: white;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border: solid white 1px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.3s ease-in;
    }

    @media (min-width: 769px) {
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}

.menu-actions {
    margin-top: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
    color: white;

    * {
        margin-right: 10px;
    }
}

.team-mate-disconnect {
    background: black;
    border: solid white 1px;
    color: white;
    position: fixed;
    z-index: 100;
    top: 2.5%;
    right: 2.5%;
    padding: 20px;

    button {
        font-size: 10px;
    }
}

.copy-to-clipboard {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    svg {
        width: 35px;
        margin-right: 10px;
        transition: 0.7s;
    }

    &.black {
        svg {
            fill: black;
        }
    }

    &.white {
        svg {
            fill: white;
        }
    }

    &:hover {
        &.black {
            svg {
                fill: white;
            }
        }

        &.white {
            svg {
                fill: black;
            }
        }
    }
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    text-align: center;
}

.central-content-template {
    width: 100%;
    height: calc(100vh - 54px);
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    border-radius: 0;

    h1 {
        margin: 0;
    }
}

.small-container {
    width: 100%;
    max-width: 500px;
}

.form-padding {
    padding: 30px;
}

.top-bar {
    height: 54px;
}

.top-bar__tool-bar {
    min-height: initial;
    padding-top: 10px;
    padding-bottom: 10px;

    > * {
        margin: 0 10px;
    }
}

.top-bar__account-container {
    margin-left: auto;
}

.top-bar__logo {
    text-decoration: none;

    h2 {
        color: white;
        margin: 0;
        font-family: 'Source Code Pro', monospace;
        font-weight: 900;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
}

// .sign-up-email-activated-page {
//     background: black;
//     color: white;
// }
