html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

canvas,
.game-sync-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

// TODO: Check this on mobile
.bottom-right-info {
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .settings {
        transition: 0.3s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 5px;

        &:hover {
            transform: rotate(90deg);
        }
    }

    .cogwheel {
        width: 30px;
    }

    .inline-link {
        text-decoration: none;
        margin-top: 15px;
    }

    &--black {
        .cogwheel {
            fill: black;
        }

        .version {
            color: black;
        }

        .inline-link {
            color: black;

            &::before {
                border-color: black;
            }
        }
    }

    &--white {
        .cogwheel {
            fill: white;
        }

        .version {
            color: white;
        }

        .inline-link {
            color: white;

            &::before {
                border-color: white;
            }
        }
    }
}

.home-page {
    position: relative;
    width: 100%;
}

.title-h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 20px;
    text-align: center;
    text-indent: 20px;

    @media (max-width: 580px) {
        font-size: 30px;
        line-height: 1.5;
    }

    @media (max-width: 420px) {
        font-size: 25px;
    }
}

.title-h2 {
    color: white;

    &--black {
        color: black;
    }

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.menu-label {
    font-weight: 300;
}

button {
    all: unset;
}

.buttonRect {
    width: auto;
    text-align: center;
    border: solid transparent 1px;
    padding: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: 0.7s;
    cursor: pointer;

    &.white {
        color: white;

        &:hover {
            border-color: white;
        }
    }

    &.black {
        color: black;

        &:hover {
            border-color: black;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;
        font-size: 12px;
    }
}

.buttonCircle {
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    cursor: pointer;
    z-index: 100;
    border: none;

    &:focus {
        outline: none;
    }

    @media (max-height: 700px), (max-width: 768px) {
        width: 80px;
        height: 80px;
        font-size: 18px;
        line-height: 80px;
        font-weight: 500;
    }

    @media (min-width: 2000px) {
        width: 120px;
        height: 120px;
        font-size: 30px;
        line-height: 120px;
    }
}

.unmount {
    opacity: 0;
    display: none;
}

.queue-count {
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
}

.game-sync-overlay {
    background: black;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content-container {
    width: 80%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 90%;
    }
}

.menu-state-info {
    color: white;

    &--black {
        color: black;
    }

    > * {
        display: flex;
        justify-content: space-between;
        width: 300px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.mobile-hud {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    button {
        padding: 10px;
    }

    svg {
        width: 50px;
        fill: white;
    }
}

.inline-link {
    color: white;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border: solid white 1px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.3s ease-in;
    }

    @media (min-width: 769px) {
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
}

.menu-actions {
    margin-top: 25px;
    font-size: 12px;
    display: flex;
    align-items: center;

    * {
        margin-right: 10px;
    }
}

.team-mate-disconnect {
    background: black;
    border: solid white 1px;
    color: white;
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    padding: 20px;

    button {
        font-size: 10px;
    }
}
