.home-container {
    .title-h1 {
        display: none;
        color: white;
        margin-top: 100px;

        @media (max-width: 768px) {
            display: block;
        }
    }

    .main-subtitle {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 20px;
        text-indent: 20px;
        text-align: center;
        width: 90%;
        color: white;
        display: none;
        text-align: center;

        @media (min-width: 2000px) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-size: 25px;
            letter-spacing: 15px;
            text-indent: 15px;
            display: block;
            position: static;
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            margin-top: 50px;
        }
        @media (max-width: 400px) {
            font-size: 18px;
        }

        @media (max-width: 580px) {
            font-size: 16px;
            line-height: 1.5;
        }

        // @media (max-width: 400px) and (min-height: 800px) {
        //     top: 30%;
        // }

        // @media (max-height: 800px) {
        //     top: 30%;
        // }

        // @media (max-height: 600px) {
        //     top: 25%;
        // }

        // @media (min-height: 1000px) {
        //     top: 30%;
        // }
    }

    .queue-count {
        position: fixed;
        top: calc(75% - 25px);

        &--light {
            left: 10%;
            color: white;
        }

        &--shadow {
            right: 10%;
            color: black;
        }

        @media (max-width: 768px) {
            position: static;
            display: block;
            margin: 30px 0;
            text-align: center;
            color: white;
        }
    }
}

#buttonPlay {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    top: calc(75% - 45px);
    background: black;
    color: white;
    font-weight: 100;
    font-size: 20px;
    transition: 0.3s ease-out;
    overflow: hidden;

    @media (min-width: 769px) {
        &:hover {
            background: white;
            color: black;
            transition: 0.3s ease-out;
        }
    }

    @media (max-height: 700px), (max-width: 768px) {
        top: calc(75% - 40px);
    }

    @media (min-width: 2000px) {
        top: calc(75% - 60px);
    }
}
