.home-scene {
    a {
        text-decoration: none;
    }

    .title-h1 {
        color: white;
        margin-top: 100px;
        margin-bottom: 0px;
        mix-blend-mode: difference;
        font-family: 'Source Code Pro', monospace;
        font-weight: 900;
        letter-spacing: 40px;
        text-indent: 40px;
        transform: scaleY(0.8);
        text-transform: uppercase;
        text-align: center;

        @media (min-width: 1600px) {
            font-size: 160px;
        }

        @media (max-width: 1600px) {
            font-size: 140px;
        }

        @media (max-width: 1200px) {
            font-size: 100px;
        }

        @media (max-width: 1000px) {
            font-size: 70px;
            letter-spacing: 30px;
            text-indent: 30px;
        }

        @media (max-width: 768px) {
            font-size: 70px;
            letter-spacing: 20px;
            text-indent: 20px;
        }

        @media (max-width: 580px) {
            font-size: 50px;
            letter-spacing: 10px;
            text-indent: 10px;
        }

        @media (max-width: 420px) {
            font-size: 40px;
            letter-spacing: 10px;
            text-indent: 10px;
        }

        @media (max-height: 500px) {
            margin-top: 30px;
        }
    }

    .main-subtitle {
        font-family: 'Source Code Pro', monospace;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 20px;
        text-indent: 20px;
        text-align: center;
        color: white;
        mix-blend-mode: difference;

        @media (max-width: 1000px) {
            font-size: 25px;
        }

        @media (max-width: 768px) {
            font-size: 25px;
            letter-spacing: 15px;
            text-indent: 15px;
            display: block;
            position: static;
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            margin-top: 50px;
        }
        @media (max-width: 400px) {
            font-size: 18px;
        }

        @media (max-width: 580px) {
            font-size: 16px;
        }
    }
}

.home-scene__button-play {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    top: calc(75% - 52px);

    @media (max-width: 768px), (max-height: 500px) {
        top: calc(75% - 47px);
    }
}

.home-scene__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.home-scene__timeline-button {
    position: fixed;
    left: 25%;
    transform: translate(-50%, -50%);
    top: 75%;

    @media (max-width: 768px) {
        position: static;
        left: auto;
        transform: none;
        top: auto;
    }
}

.home-scene__community-button {
    position: fixed;
    left: 75%;
    transform: translate(-50%, -50%);
    top: 75%;

    @media (max-width: 768px) {
        position: static;
        left: auto;
        transform: none;
        top: auto;
    }
}
