.desktop-hud__top-left-container {
    position: fixed;
    top: 1%;
    left: 2%;
    display: flex;
}

.desktop-hud__actions-container {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
