// DESKTOP

.desktop-hud #runTimer {
    color: $mainActionColor;
    font-family: 'Orbitron';
    font-size: 40px;
}

.desktop-hud__top-left-container {
    position: fixed;
    top: 1%;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.desktop-hud__actions-container {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

// MOBILE

.mobile-hud {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    #runTimer {
        color: $mainActionColor;
        font-family: 'Orbitron';
        font-size: 20px;
    }
}

.mobile-hud__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.mobile-hud__arrow-left {
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    transform: rotate(180deg);
    justify-content: end;
}

.mobile-hud__arrow-right {
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    justify-content: end;
}

.mobile-hud__jump {
    bottom: 0;
    height: 25%;
    left: 25%;
    right: 25%;
    width: 50%;
    align-items: flex-end;
}

.mobile-hud__switch-player {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    button {
        padding: 20px;
    }
}

.mobile-hud__reset-position {
    position: fixed;
    bottom: 3%;
    left: 3%;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    button {
        padding: 20px;
    }
}

.mobile-hud__interact-button {
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;

    button {
        padding: 20px;
    }
}
