.level-item {
    overflow: hidden;
    position: relative;
    margin: 50px 0;
    cursor: pointer;
    background: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: solid rgba(255, 255, 255, 0) 1px;
        width: 95%;
        height: 85%;
        transition: 0.7s;
        z-index: 10;
    }

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 2s;
        opacity: 0.5;

        @media (max-width: 460px) {
            width: auto;
            height: 100%;
        }
    }

    p,
    h3 {
        position: relative;
        z-index: 10;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 100;
    }

    h3 {
        flex: 2;
        font-size: 24px;
        width: 100%;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;

        @media (max-width: 580px) {
            font-size: 20px;
        }
    }

    @media (min-width: 769px) {
        &:hover {
            img {
                transform: translate(-50%, -50%) scale(1.1);
                // opacity: 0.7;
                transition:
                    opacity 0.7s,
                    transform 6s;
            }

            &::after {
                border-color: rgba(255, 255, 255, 1);
                transition: 0.7s;
            }
        }
    }

    &--disabled {
        cursor: not-allowed;
    }
}

.level-item__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.level-item__queue-space {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;

    .queue-count {
        position: relative;
        z-index: 10;
        text-align: right;
        margin-right: 5%;
        margin-bottom: 2.5%;
    }

    span {
        display: block;
        font-size: 14px;
    }
}
