.team-lobby-scene {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    h3,
    h2 {
        width: 100%;
    }

    .menu-actions {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .title-h3 {
        mix-blend-mode: difference;
    }
}

.team-lobby-scene__header {
    margin: 0 auto;
    margin-top: 25px;
    width: 95%;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;

    h1 {
        margin: 0;
        margin-left: 15px;
    }
}

.team-lobby-scene__players {
    width: 300px;
    border: solid 1px white;
    background: black;
    color: white;
    padding: 10px;
    align-self: flex-start;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    z-index: 100;

    h3 {
        margin: 0;
    }
}

.team-lobby-scene__player {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 20px;
    }
}

.team-lobby-scene__divider {
    background: white;
}

.team-lobby-scene__player-invite {
    background: white;
    color: black;
    padding: 0px 5px;
    margin-left: auto;
    margin-top: 10px;
    letter-spacing: 1px;

    .copy-to-clipboard__icon {
        margin-left: 10px;
        color: black;
    }
}

.team-lobby-scene__player-loading {
    svg {
        color: white;
    }
}

.team-lobby-scene__player-side {
    display: block;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    border: solid 1px transparent;

    &.light {
        background: white;
    }

    &.shadow {
        border-color: white;
    }
}

.team-lobby-scene__slider-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
}

.slick-center {
    // .level-portal {
    // transform: scale(1.2);
    // }

    .ying-yang .white {
        opacity: 0.8;
    }
}

.level-portal--selected-by-team-mate {
    .ying-yang .black {
        opacity: 0.8;
    }
}

.team-lobby-scene__column-left {
    margin-left: 2.5%;
}

.team-lobby-scene__column-right {
    width: 60%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.team-lobby-scene__side-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    h2 {
        margin-top: 0;
        width: 100%;
    }

    h3 {
        width: 50%;
        text-align: center;
        mix-blend-mode: difference;
    }
}

.level-slider {
    width: 100%;
}

.team-lobby-scene__side-button {
    all: unset;
    width: 50%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    mix-blend-mode: difference;

    h3 {
        transition: ease-in-out 0.3s;
    }

    &:hover {
        h3 {
            transform: scale(1.2);
            text-decoration: underline;
        }
    }
}
