.team-lobby-scene {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    h1 {
        text-transform: uppercase;
    }

    h3 {
        width: 100%;
    }

    .menu-actions {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .title-h3 {
        mix-blend-mode: difference;
    }
}

.team-lobby-scene__header {
    margin: 0 auto;
    margin-top: 25px;
    width: 95%;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;

    h1 {
        margin: 0;
        margin-left: 15px;
    }
}

// start global carousel styles
.slick-center {
    // .level-portal {
    // transform: scale(1.2);
    // }

    .ying-yang .white {
        opacity: 0.8;
    }
}

.level-portal--selected-by-team-mate {
    .ying-yang .black {
        opacity: 0.8;
    }
}

// end global carousel styles

.team-lobby-scene__column-left {
    margin-left: 2.5%;
}

.team-lobby-scene__column-right {
    width: 60%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.team-lobby-scene__login-button {
    margin-left: auto;
}
