.timeline-page {
    background-color: black;
    color: white;
    padding: 60px 0;

    h1,
    h2 {
        color: $mainActionColor;
    }

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.timeline-page__button-play {
    background: $mainActionColor;
    color: black;
    text-decoration: none;
    display: block;
    position: static;
    line-height: 90px;
    transform: none;

    &:hover {
        background: black;
        color: white;
    }

    @media (max-width: 768px), (max-height: 500px) {
        line-height: 80px;
    }
}

.timeline-page .main-container {
    width: 60%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 90%;
    }
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    list-style: none;

    @media (max-width: 768px) {
        padding-left: 10px;

        ul {
            padding-left: 10px;
        }
    }
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: $mainActionColor;
    left: 0;
    margin-left: -1px;
}

.timeline-event {
    position: relative;
    margin-bottom: 20px;
    margin-left: 30px;

    @media (max-width: 768px) {
        margin-left: 10px;
    }
}

.timeline-event-date {
    color: $mainActionColor;
    font-weight: bold;
    position: relative;
    line-height: 2;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 1.5;
    }
}

.timeline-event-date::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: $mainActionColor;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.timeline-event:nth-child(even)::before {
    left: auto;
    right: -6px;
}
